/*general*/
.wrapper{
  margin: auto;
  max-width: 750px;
}

body{
  margin: 0px;
  padding-top: 0px;
  ;
}

.back{
  background-size: cover;
}

main{
margin: 0px;
padding: 20px 0;
background-image: url(calm-sea.jpg);
}



main section{
  padding: 10px;
  margin: auto;
  max-width: 750px;
}

.hero {
    margin-top:5px;   
    border-radius: 10px;
    width: 100%;
}

header{
  margin: 0px;
  background-color: rgba(18, 0, 119, 0.568);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
}

h1{
  color: gold;
  font-weight: bold;
  margin-top: 0px;
  font-family: fantasy;
  font-size: 42px;
  letter-spacing: 4px;
  padding-left: 50px;
}

header h2{
  color: antiquewhite;
  font-family: Impact, Haettenschweiler;
  padding-left: 50px;
  letter-spacing: 3px;
}

main h2{
  color:rgba(18, 0, 119, 0.568);
  font-family: Impact;
  font-size: 30px;
  letter-spacing: 3px;
}

h3{
  color: rgba(18, 0, 119, 0.568);
  font-family: impact;
  font-size: 23px;
  letter-spacing: 1px;
}

p{
  font-family: cursive;
  font-size: 20px;
  font-weight: bold;
}

ul li{
  font-family: cursive;
  font-size: 20px;
    font-weight: bold;
}

ol{
  font-family: cursive;
  font-size: 20px;
    font-weight: bold;
}


footer{
  background-color:  rgba(18, 0, 119, 0.568);
  color: gold;
  text-align: center;
  height: 30px;
  padding-top: 10px;
}

.footer-font{
  font-size: 18px;
  margin-bottom: 0px;
}

footer h2{
  margin-top: 0px;
}

/*navigation*/

header nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: right;
}

header nav ul{
  display: flex;
  flex-direction: row;
}

header nav ul li{
  list-style-type: none;
 
}

header nav ul li a{
  color: gold;
  margin: 0 30px 0 0;
  text-decoration: none;
  font-family: impact;
  font-size: 20px;
}

/*grouping and items*/

.group{
  display: flex;
  flex-direction: column;
}

.item{
  flex:1;
  margin: 20px;
}




@media all and (min-width: 800px){
  .group{
    flex-direction: row;
  }
  header{
    flex-direction: row;
    
  }
}



/*forms*/

form input,
form textarea{
  font-family: cursive;
  font-size: 20px;
  width: 100%;
}

form label{
  font-family: cursive;
  font-size: 20px;
    font-weight: bold;
}

form button{
  font-family: cursive;
  font-size: 20px;
    font-weight: bold;
}

form textarea{
  height: 150px;
}